<html>
<div class="comments-box">
    {% for comment in comments %}
    <div class="comment">{{comment.username}}: {{comment.text}}</div>
    {% endfor %}
</div>

<span>Submit a comment:</span>
    <form action="https://powerful-woodland-8813.herokuapp.com/api/" method="post">
        <label for="text">Comment</label>
        <input type="text" name="text" id="text">

        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <input type="hidden" name="url" id="url" value="localhost:8000/api/" />
        <button type="submit">Submit</button>
    </form>
</html>